<% if signed_in? %>
  <script type="text/javascript">
      window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  </script>
<% end %>

<main id="root">
  <h1>Welcome to Castle and Chair. We are open by appointment. </h1>
  <div>Visit <a href='https://www.castleandchair.com/#/visit'>https://www.castleandchair.com/#/visit</a> to book now.</div>
</main>
