.cart-index-page-container {
  display: grid;
  font-family: 'Graphik Webfont', -apple-system, system-ui, Roboto, 'Droid Sans',
    'Segoe UI', Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  background-color: rgb(245, 245, 241);
  margin-top: -7px;
}

.sub-header-container {
  display: grid;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 51px;
  font-weight: 500;
  font-size: 26px;
  margin-left: 185px;
  margin-right: 185px;
  /* width: 992px; */
  width: 100%;
}

.cart-item-count {
  padding-left: 185px;
  padding-right: 185px;
}

.keep-shopping-link {
  justify-self: end;
  font-size: 12px;

  width: 150px;
  height: 28px;
}

.cart-item-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart-index-section-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e1e3df;
  border-bottom-color: #cbccc9;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cart-index-item-photo {
  margin-right: 15px;
  width: 150px;
  height: 120px;
}

.cart-index-section-wrapper > .cart-index-wrapper {
  list-style-type: none;
}

.cart-index-wrapper {
  padding: 18px;
  min-height: 1200px;
}

.cart-index-item {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.cart-index-item-remove {
  align-self: flex-end;
}

.cart-left-section-middle-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.cart-left-section-middle-section-wrapper-mobile {
  grid-template-columns: 1fr 2fr 0.5fr;
  font-size: 25px;
}

.cart-index-item .cart-index-merchant-name {
  font-size: 14px;
  font-weight: 500;
}

.cart-index-item-quantity {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cart-index-item-quantity-collapse {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart-index-merchant-name-link {
  color: black;
  text-decoration: none;
}

.cart-index-merchant-name-link:hover {
  text-decoration: underline;
}

.cart-index-item-price {
  justify-self: end;
  font-size: 14px;
  font-weight: 300;
}

.cart-index-item-title a {
  text-decoration: none;
  color: black;
  line-height: 19.6px;
  font-size: 17px;
}

.cart-index-item-title a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cart-index-right-side {
  display: grid;
  grid-template-rows: 2fr;
}

.cart-index-checkout {
  padding: 18px;
  border-left: 1px solid #e1e3df;
  font-size: 14px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 18px;
}

.cart-index-item {
  justify-self: center;
  font-size: 12px;
  border-bottom: 1px solid #e1e3df;
  margin-bottom: 25px;
}

#quantityText {
  margin-left: 6px;
  padding-left: 10px;
  margin-top: -10px;
}

.total-amount {
  margin-top: 20px;
  margin-bottom: 20px;
}

.remove-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 5px;
}

.cart-left-section-middle-section-wrapper .cart-index-item-photo {
  overflow: hidden;
}

.checkout-instructions {
  margin-bottom: 20px;
  margin-top: 20px;
}

#payment-cashapp {
  background-image: image-url('payment_cashapp.png');
  background-repeat: no-repeat;
  width: 100%;
  min-width: 300px;
  height: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background-position: center;
}

#payment-zelle {
  background-image: image-url('payment_zelle.png');
  background-repeat: no-repeat;
  width: 100%;
  min-width: 300px;
  min-height: 400px;
  height: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background-position: center;
}

#payment-zelle.payment-zelle-mobile {
  margin-top: 105px;
}

.payment-container {
  height: 300px;
}

.cart-index-cart-summary-mobile {
  width: 100%;
}

.cart-index-cart-summary-mobile > .expandable-box-container-mobile {
  padding: 0px 20px 0 20px;
  display: grid;
}

.cart-index-wrapper-mobile {
  min-height: fit-content;
}

.cart-index-checkout-mobile {
  font-size: 30px;
  height: 600px;
}

.cart-index-item-price-mobile {
  justify-self: auto;
  font-size: 25px;
}

.cart-index-item-title-mobile > a {
  font-size: 25px;
}

#quantityText-mobile {
  font-size: 20px;
}

.keep-shopping-link-mobile {
  font-size: 30px;
}

.btn-secondary.quantity-button-cart-mobile,
.quantity-value-mobile.quantity-value-cart-mobile {
  width: 50px;
}
