.categories-wrapper {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  border-bottom: 1px solid #e1e3df;
}

.categories-wrapper-mobile {
  left: 10px;
  top: 10px;
  width: calc(100% - 1px);
  /* height: auto; */
  overflow-x: auto;
  justify-content: space-between;
  overflow-y: hidden;
  border-bottom: none;
}

.categories-item-mobile {
  padding: 10px 30px 10px 30px;
  font-size: 30px;
  border: 1px solid gray;
  min-width: fit-content;
  max-width: fit-content;
  height: 50px;
}

.categories-wrapper > li {
  margin: 9px 12px 15px 12px;
  /* box-sizing: border-box; */
}

.categories-wrapper > li:hover {
  border-bottom: 3px solid #f56400;
  margin-bottom: -1px;
}

.categories-wrapper > li > a {
  text-decoration: none;
  line-height: 19.6px;
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
  cursor: pointer;
  font-weight: 350;
  font-size: 14px;
  color: black;
}

.categories-wrapper-mobile > li > a {
  font-size: 30px;
  width: 100%;
  font-weight: 500;
}

.categories-wrapper > li > a:visited {
  text-decoration: none;
  color: black;
}

.highlight {
  border-bottom: 3px solid #f56400;
  margin-bottom: -1px;
}
