.home-reset-password {
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
  margin: 20px;
}

.password-header {
  font-weight: 900;
}

.reset-field {
  display: flex;
  margin: 20px;
}

.reset-label,
.reset-input {
  flex: 1;
}
