.listing-show-content-wrapper {
  font-family: 'Graphik Webfont', -apple-system, system-ui, Roboto, 'Droid Sans',
    'Segoe UI', Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}

.listing-show-author-buttons {
  display: grid;
  grid-gap: 10px;
  padding: 20px 40px 20px 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.listing-show-author-buttons > .btn,
.listing-show-author-buttons.btn-primary {
  width: 100%;
  justify-self: center;
}

.listing-show-seller-header {
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.listing-header-seller-name {
  margin-bottom: 15px;
}

.listing-header-seller-name a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.listing-header-seller-name a {
  color: #757575;
  font-size: 14px;
}

.listing-seller-phone-number > a,
.listing-seller-phone-number > div > a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.phone-number-mobile
  > .listing-seller-phone
  > .listing-seller-phone-number
  > div
  > a {
  font-size: 35px;
}

.listing-seller-phone-number.listing-seller-phone-number-mobile {
  display: flex;
  justify-content: space-evenly;
  grid-column-gap: 35px;
}

.listing-seller-phone-number.listing-seller-phone-number-mobile > a {
  font-size: 35px;
  height: 90px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-header-seller-name a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.listing-header-seller-thumbnails {
  justify-self: end;
}

.listing-header-seller-left {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.listing-show-body-wrapper {
  display: grid;
  grid-template-columns: 65fr 35fr;
  /* grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); */
  /* [col-start] min-content [col-middle] max-content [col-end] */
  margin-top: 35px;
  padding: 0 40px 0 40px;
  grid-column-gap: 24px;
}

.listing-show-body-wrapper .listing-image {
  min-height: 0;
  /* max-height: 760px; */
  /* overflow: hidden; */
}

.listing-left-half {
  overflow: hidden;
}

.image-gallery-image {
  min-height: 700px;
  /* height: 70vh; */
}

.image-gallery-fullscreen-button > .image-gallery-svg {
  height: 50px !important;
  width: 50px !important;
}

.listing-details .listing-right-half {
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
}

.listing-details .listing-details-title {
  font-family: Guardian-EgypTT, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 12px;
  overflow-wrap: break-word;
}

.input-quantity .input-quantity-input {
  padding-left: 10px;
}

.listing-details .listing-details-price {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.listing-details .listing-details-quantity {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 3px;
}

.select-custom {
  font-size: 11px;
  height: 38px;
  width: 63px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.listing-details .add-to-cart > button {
  display: block;
  height: 38px;
  border: 1px solid black;
  background-color: black;
  width: 100%;
  color: white;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
  padding: 8px 12px;
  line-height: 19.6px;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 25px;
}

.delivery-estimate {
  margin-top: 15px;
  margin-bottom: 25px;
}

.listing-details .add-to-cart {
  margin-bottom: 35px; /* 14 + 21*/
  border-bottom: #e1e3df 1px solid;
}

.listing-details .add-to-cart .button-disabled {
  background-color: #3c3c3c;
  border-color: rgba(0, 0, 0, 0.2);
}

.listing-details .add-to-cart button:hover {
  background-color: #3c3c3c;
  border-color: rgba(0, 0, 0, 0.2);
}

.listing-description {
  margin-top: 18px; /* 14 + 21*/
  border-top: #e1e3df 1px solid;
  border-bottom: #e1e3df 1px solid;
  padding: 12px 0 12px 0;
  font-weight: 500;
  font-size: 16px;
}

.listing-description > p {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;

  padding-top: 6px;
}

.review-form-wrapper {
  margin-top: 15px;
}

.review-form-input {
  width: 300px;
  height: 120px;
}

.review-input-title {
  justify-self: top;
  margin-left: 1px;
}

.overview {
  font-size: 14px;
}

.title-label {
  font-weight: 500;
}

.photo-x {
  float: right;
  font-size: 15px;
  margin-right: 5px;
  cursor: pointer;
}

/* 

MOBILE VIEW

*/

.image-gallery-mobile {
  position: relative;
}

.below-image-gallery-mobile {
  padding: 0 40px 0 40px;
  font-size: 35px;
}

.title-price-container-mobile {
  padding: 0 40px 0 40px;
}

.title-price-container-mobile,
.item-number-condition-container-mobile {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  grid-column-gap: 50px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.item-number-condition-container-mobile {
  padding-top: 20px;
}

.quantity-mobile,
.quantity-mobile .select-custom {
  font-size: 40px;
  height: 90px;
}

.quantity-mobile .select-custom {
  height: 75px;
  width: 70px;
}

.quantity-mobile > .listing-details.listing-details-quantity {
  /* padding-left: 55px; */
}

.add-to-cart-button-container-mobile {
  width: 100%;
}

.btn-primary-mobile.add-to-cart {
  width: 100%;
  font-size: 35px;
  height: 90px;
  margin-top: 35px;
  border-radius: 15px;
}

.phone-number-mobile {
  text-align: center;
  padding: 0px 0 20px 0;
  text-decoration: none;
  font-size: 30px;
}

.phone-number-delivery-tip-mobile {
  border-bottom: #e1e3df 1px solid;
}

.overview-mobile {
  padding-top: 10px;
}

.title-label-mobile {
  font-size: 35px;
}

.description.description-mobile,
.overview-mobile {
  font-size: 30px;
}

.quantity-buttons-container-mobile {
  display: flex;
  /* justify-content: flex-start; */
  height: 100% !important;
  align-items: center;
  text-align: center;
}

.quantity-button-mobile {
  width: 100px;
  font-size: 40px;
  height: 90px;
}

.quantity-value-mobile {
  width: 150px;
  border: 1px solid gray;
  /* height: 88px; */
  font-size: 35px;
  /* text-align: center; */
  /* height: 100%; */
  height: 88px;
  /* height: calc(100% - 4px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-secondary {
  background-color: #f8f8f8;
  /* height: 92px; */
  height: 100%;
  border: 1px solid gray;
  color: black;
}

.quantity-button-left-mobile {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  touch-action: manipulation;
}

.quantity-button-right-mobile {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  touch-action: manipulation;
}

.share-button,
.full-screen-button {
  position: absolute;
  border: 2px solid gray;
  border-radius: 50px;
  background: transparent;
  border: none;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  top: 20px;
  filter: drop-shadow(0 2px 2px #1a1a1a);

  font-size: 50px;
  /* border: 2px solid gray; */
  /* border-radius: 50px; */
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.share-button:hover,
.full-screen-button:hover {
  background-color: #3c3c3c;
  border-color: rgba(0, 0, 0, 0.2);
}

.share-button {
  background-image: url('share_icon.svg');
  right: 90px;
}

.share-button-mobile {
  height: 90px;
  width: 90px;
  right: 130px;
}

.full-screen-button {
  right: 20px;
  font-size: 25px;
}

.full-screen-button-mobile {
  height: 90px;
  width: 90px;
  font-size: 50px;
}

.fas.fa-share-mobile {
  font-size: 50px;
}

.image-gallery-slide-wrapper .image-gallery-index {
  top: auto;
  bottom: 0;
  font-size: 25px;
  background: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 0;
}

.image-gallery-index {
  display: flex;
  justify-content: center;
}

.image-gallery-index-separator {
  padding-left: 5px;
  padding-right: 5px;
}
