.index-wrapper {
  padding: 0 40px 0 40px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr) */
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  font-family: 'Graphik Webfont', -apple-system, system-ui, Roboto, 'Droid Sans',
    'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
  color: rgb(34, 34, 34);
}

/* .listing-item-wrapper{
  display: grid;

} */
.listing-item-wrapper {
  display: grid;
  /* grid-template-rows: 30% 10% 10% 10% 10%; */
  grid-template-rows: 6fr 1fr 1fr;
}

/* .listing-item-wrapper > .listing-item-image > a >img {
  max-height: 30%;
} */

.listing-item-image {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.listing-thumbnail {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.listing-item-image {
  border-radius: 2px;
  transition: box-shadow 0.3s;
}

.listing-item-image:hover {
  box-shadow: 0 0 15px gray;
}

.index-wrapper > li {
  list-style: none;
  padding: 9px;
  /* Row below is for minimum height */
  grid-auto-rows: minmax(100px, auto);
  max-height: 294px;
  text-decoration: none;
}

.index-wrapper > li > div {
  cursor: pointer;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listing-item-title {
  height: 29px;
  line-height: 14px;
  overflow: hidden;
  margin-top: 5px;
}

.listing-item-title a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.index-wrapper .listing-item-brand {
  font-size: 12px;
  line-height: 19.2px;
  color: rgb(89, 89, 89);
  text-decoration: none;
}

.listing-item-brand > .listing-item-link {
  text-decoration: none;
  color: black;
}

.listing-item-brand > .listing-item-link:hover {
  text-decoration: none;
}

.index-wrapper .listing-item-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}
