.index-wrapper {
  padding: 0 40px 0 40px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr) */
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  font-family: 'Graphik Webfont', -apple-system, system-ui, Roboto, 'Droid Sans',
    'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
  color: rgb(34, 34, 34);
  min-height: 350px;
  justify-items: center;
}

.index-wrapper.device-mobile {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  font-size: 30px;
  padding: 0 0 0 0;
}

/* .listing-item-wrapper{
  display: grid;

} */
.listing-item-wrapper {
  display: grid;
  /* grid-template-rows: 30% 10% 10% 10% 10%; */
  grid-template-rows: 7fr 0.6fr 1.3fr;
  max-width: 400px;
  grid-template-columns: 1fr;
  justify-content: center;
  /* font-size: 35px; */
}

.listing-item-wrapper.device-mobile {
  grid-template-rows: 7fr 1.2fr 1.3fr;
}

/* .listing-item-wrapper > .listing-item-image > a >img {
  max-height: 30%;
} */

.listing-item-image {
  position: relative;
  width: 400px;
  height: 350px;
  overflow: hidden;
}

.listing-item-image.device-mobile {
  width: 450px;
  height: 400px;
}

.listing-thumbnail {
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  height: 100%;
  /* width: auto; */
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  object-fit: cover;
}

.listing-item-image {
  border-radius: 2px;
  transition: box-shadow 0.3s;
}

.listing-item-image:hover {
  box-shadow: 0 0 15px gray;
}

.index-wrapper > li {
  list-style: none;
  /* padding: 9px; */
  /* Row below is for minimum height */
  grid-auto-rows: minmax(100px, auto);
  /* max-height: 294px; */
  text-decoration: none;
  /* justify-items: center; */
  /* padding-left: 40px; */
}

.index-wrapper > li > div {
  cursor: pointer;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listing-item-title {
  height: 29px;
  line-height: 14px;
  overflow: hidden;
  margin-top: 5px;
  padding-right: 15px;
}

.listing-item-title.device-mobile {
  height: 59px;
  line-height: 28px;
  overflow: hidden;
}

.listing-item-title a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.index-wrapper .listing-item-brand {
  font-size: 12px;
  line-height: 19.2px;
  color: rgb(89, 89, 89);
  text-decoration: none;
}

.listing-item-brand > .listing-item-link {
  text-decoration: none;
  color: black;
}

.listing-item-brand > .listing-item-link:hover {
  text-decoration: none;
}

.index-wrapper .listing-item-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}

.index-wrapper .listing-item-price.device-mobile {
  font-size: 30px;
}

.listing-item-price-detailed-condition {
  display: flex;
  justify-content: space-between;
}

.listing-item-detailed-condition {
  color: darkgray;
  font-size: 13px;
}

.listing-item-detailed-condition-mobile {
  color: darkgray;
  font-size: 25px;
}

.scroll-to-top {
  font-size: 30px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  border-radius: 50px;
  opacity: 0;

  transform: translateY(100px);
  transition: all 0.5s ease;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: black;
  color: white;
}

.scroll-to-top-mobile {
  font-size: 60px;
  bottom: 200px;
  transform: translateY(200px);
}

.showButton {
  opacity: 1;
  transform: translateY(0);
}
