.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 40vh; /* position */
  left: 40vw;
  /* transform: translate(160%, 55%); */
  /* transform: translate(50%, 55%); */
  width: 600px;
  height: 820px;

  margin-top: -200px;
  margin-left: -180px;

  /* background: #fff; */
  z-index: 3;
  border-radius: 5px;
  /* border: 1px solid #000; */
}

.modal-child-mobile,
.modal-child-profile-dropdown-mobile {
  font-size: 35px;
  /* .header-modal-profile > .modal-profile-dropdown-container { */
}

.login-form-modal {
  font-family: 'Graphik Webfont', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
  padding: 1px 18px 18px 18px;
  /* width: 360px; */
  /* height: 395px; */
  background: white;
  box-sizing: border-box;
  width: 100%;
  margin: 0;

  /* transform: translate(-50%, -50%); */
}
.modal-sign-in-h1 {
  padding-top: 5px;
}

.modal-sign-in-h1 > div {
  font-size: 26px;
  font-weight: 500 !important;
  line-height: 1.4;
  /* padding-bottom: 12px; */
  /* display: block; */
  margin: 0;
}

.modal-sign-in-h1 > p {
  font-size: 20px;
  font-weight: 300 !important;
  line-height: 1.6;
  padding-bottom: 13px;
  /* display: block; */
  margin: 0;
}

.modal-email-address-title,
.modal-email-password-title {
  margin-bottom: 6px;
  font-weight: 500;
  line-height: 1.6;
  /* display: block; */
  text-align: left;
  width: 100%;
}

.modal-email-address-title input,
.modal-email-password-title input {
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  display: block;
  outline: none;
  padding: 9px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  background-color: white;
}

.modal-email-address-title-mobile input {
  font-size: 30px;
}

.modal-button-action-container {
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.modal-button-action-container button {
  margin-top: 15px;
  background-color: #222;
  width: 100%;
  font-size: 16px;
  height: 48px;
  padding: 12px 28px;
  border-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-weight: lighter;
}

.modal-child-slider {
  /* top: 3vh;
    left: 20vw;
    height: 90vh;
    width: 80vw;
    background: white; */
  margin-top: 15px;
}

.slider-image.modal-child-photo {
  height: 80vh;
  max-height: 80vh;
  margin-top: 10px;
  cursor: default;
}

.modal-child-slider {
  position: absolute;
  /* transform: translate(160%, 55%); */
  /* transform: translate(50%, 55%); */
  width: 100vw;
  height: 100vh;
  top: 3%;
  left: 3%;
  background: white;
  max-height: 90%;
  max-width: 90%;

  /* margin-top: -200px;
  margin-left: -180px; */
  /* background: #fff; */
  z-index: 3;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 0px;
  /* border: 1px solid #000; */
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.far.fa-window-close {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.far.fa-window-close:hover {
  opacity: 0.9;
}
