.modal-clear-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.0);
  z-index: 10;
}

.modal-child-profile-dropdown {
  position: absolute;
  // top: 55vh; /* position */
  // top: 63.5vh; /* position */
  left: 80vw ;
  /* transform: translate(160%, 55%); */
  /* transform: translate(50%, 55%); */
  width: 360px;
  // height: 820px;

  margin-top: -400px;
  margin-left: -180px;
  width: 360px;

  /* background: #fff; */
  z-index: 3;
  border-radius: 10px;
  /* border: 1px solid #000; */

}

.header-modal-profile{
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,
  "Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  /* padding: 1px 18px 18px 18px; */
  /* width: 360px; */
  /* height: 395px; */
  background: white;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-left: -10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  /* transform: translate(-50%, -50%); */
  position: fixed;
  top: 81px;
}

.header-modal-profile ul{
  padding-inline-start: 0px;
  box-sizing: border-box;
}

.header-modal-profile li {

  display: block;
  width: 100%;
  box-sizing: border-box;
}

.profile-dropdown-section1 {
  display: flex !important;
  justify-content: space-between ;
  height: 80px;
  padding: 18px 20px;
}

.header-modal-username{
  margin-left: 15px;
  flex-grow:1;

}

.profile-dropdown-section2{
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 45px;
  padding: 8px 20px;
  cursor: pointer;
}

.header-button{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #333;


}

.header-button:hover{
  background: rgba(0, 0, 0, 0.05);
}

[class*="icon-profile"] {

 display: inline-block !important;
 position: relative;
 background-image: image-url("default_avatar.png");
 background-size: 50px 50px;
 background-repeat: no-repeat;
 vertical-align: bottom;
 overflow: hidden;
 height: 50px !important;
 width: 50px;
 margin-bottom: 0px;
 border-radius: 50%;
 // padding-top: 30px !important;
}

.icon-profile-picture {
 background-position: 0 0;
}
