.app-container{
    min-height: 100%;
    position: relative;
}

#global-header{

}

.body{
    min-height: 91vh;
    padding-bottom: 10%;
}

.footer-wrapper {
   position:absolute;
   bottom:0;
   width:95%;

   /* background:#6cf; */
}