.app-container{
    min-height: 100%;
    position: relative;
}

.body{
    min-height: 92vh;
    padding-bottom: 96px;
}

.footer-wrapper {
   position:absolute;
   bottom:0;
   width:95%;

   /* background:#6cf; */
}