.review-index{
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.review-left-side{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
}

.review-index{
  border-bottom: #E1E3DF 1px solid;
  margin-top: 15px;
}

.review-header{
  margin-top: 10px;
}

.review-index .delete-button {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 75px;
}
