/* .slider{
    position: relative
} */

.listing-left-half{
    position: relative
}


.nextArrow{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 36%;
    /* top: 9vh; */
    opacity: 0.7;
    background-color: #757575;
}

.backArrow:hover,.nextArrow:hover{
    opacity: 0.9;
}

.backArrow{
    position: absolute; 
    z-index: 2; 
    left: 0; 
    top: 36%;
    /* top: 9vh; */
    opacity: 0.7;
    background-color: #757575;
}

.slider-image{
    overflow: hidden;
    /* height: 70vh; */
    height: 60vh;
    width: 100%;
    object-fit: contain;
    /* object-position: 50% 0%; */
    max-height: 400px;
}


.slider-thumbnails-wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 3px;

}

.slider-thumbnails{
    height: 50px;
    width: 50px;
}

.nextArrow, .backArrow, .slider-thumbnails:hover{
    cursor: pointer;
}